@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrittiSansVariable";
  src: url("./webfonts/britti-sans-variable.woff2") format("woff2-variations");
  font-weight: 100 800;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.cookies {
  position: fixed !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: calc(100% - 32px);
  font-size: 0.72rem;
  z-index: 9999;
}

.marquee  {
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
}

.links {
  white-space: nowrap;
}

.links a {
  display: flex;
  white-space: nowrap;
  font-weight: 550;
  opacity: 0.5;
  transition: 0.2s linear;

  &:hover {
    opacity: 1;
    font-weight: 800;
  }
}

.links a span {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);;
}

.links a:hover span {
  max-width: 40px;
  display: flex;
}

.clip {
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%
  );

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -5px;
    width: 20px;
    height: 5px;
    background-color: black;
    transform: rotate(-45deg);
    z-index: 10;
  }
}
.clip-sm {
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    0 100%
  );

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 4px;
    height: 8px;
    background-color: black;
    transform: rotate(45deg);
  }
}
.clip-lg {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 32px),
    calc(100% - 24px) 100%,
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 32px),
    calc(100% - 24px) 100%,
    0 100%
  );
}

.archive {
  transform: scale(0.9);
  transform-origin: center center;
  transition: 0.25s ease-in-out;
  &::before {
    transition: 0.25s ease-out;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateX(90%);
    transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);;
  }
}

.ant-modal {
  border-radius: 0 !important;
}
.ant-modal-content {
  border-radius: 0 !important;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    0 100%
  );
}

.ant-modal-title {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.ant-modal-body {
  font-size: 0.7rem !important;
}

.ant-btn {
  border-radius: 2px;
  font-size: 0.72rem !important;
  padding: 0.2rem 0.4rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  pointer-events: none;
  animation: grain 0.5s steps(10) infinite;
}

.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.6);
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/40550ab9-0dde-4376-ae73-77355bb45d73/d37pwfa-82dd8ce8-a772-4e1d-9f03-e355a2aa1722.jpg/v1/fill/w_1024,h_768,q_75,strp/film_texture___grain_explosion_by_stephanepellennec_d37pwfa-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzY4IiwicGF0aCI6IlwvZlwvNDA1NTBhYjktMGRkZS00Mzc2LWFlNzMtNzczNTViYjQ1ZDczXC9kMzdwd2ZhLTgyZGQ4Y2U4LWE3NzItNGUxZC05ZjAzLWUzNTVhMmFhMTcyMi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.SS6BpDtRHP9Z2ROaHftKv8hr6_LhiVjOB8i0WiXuyKw);
  opacity: 0.04;
}

@keyframes grain {
  0%,
  to {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-family: "BrittiSansVariable";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  color: #000;
  background: linear-gradient(to top, #fafafa, #fff);
}

.overlay {
    filter: invert(1);
  }

  svg {
    filter: invert(1) !important;
  }

.dark {
  background: linear-gradient(to right, #000, #020202);
  color: #fff;

  .overlay {
    filter: invert(0);
  }
}

.scrollbar {
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
  right: 0rem;
  width: 1px;
  height: 132px;
  background-color: #222;
  transition: 0.2s ease-out;
  z-index: 50;
}

.scrollbar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #e9e9e9;
  animation: scroll-anim 6s ease-in-out infinite;
}

@keyframes scroll-anim {
  0% {
    height: 0;
  }

  25% {
    height: 100%;
  }

  50% {
    top: unset;
    bottom: 0;
  }

  75% {
    height: 0;
  }

  100% {
    height: 0;
  }
}

image {
  transition: 0.25s ease-in-out;
}


h1,
h2,
h3,
h4,
h5 {
  width: fit-content;
  font-weight: 700;
}

h4 {
  font-weight: 600;
  letter-spacing: 0.035em;
}

.txt {
  text-transform: none !important;
  font-size: 0.84rem;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 0 !important;
}

.service {
  border: 1px solid #999;
}

h2 {
  font-size: 1.05rem;
  font-weight: 650;
  transition: font-weight 0.35s ease-in-out;

  &:hover {
    font-weight: 900;
  }
}

h3 {
  font-weight: 600;
}

@keyframes grow {
  from {
    max-width: 0;
  }

  to {
    max-width: 620px;
  }
}

.cursor {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #999999a1;
  border-radius: 100%;
  pointer-events: none;
  transform-origin: center;
  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 99999;

  @media (pointer: coarse) {
    display: none;
  }
}

.grow {
  animation: grow 1.5s ease-out forwards;
  overflow: hidden;
}

.underline-anim {
}

.swiper-container {
  height: 112px !important;
}

.scroll {
}
 
video { 
  position: relative;
  background: #999;
  filter: brightness(0.25);
  border-top-right-radius: 16px;
  z-index: -1;
  

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 20%; /* Adjust this value to change the height of the gradient */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    z-index: 15; /* Make sure this is higher than the video but lower than controls */
}
}

.divide {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #222;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 1px;
    background-color: #f9f9f9;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 1px;
    background-color: #f9f9f9;
  }
}

.container {
  position: relative;
  padding: 2rem;
  margin-top: 1rem;
  max-width: 1280px;

  &:nth-child(1) {
    border: none;
    min-height: 100vh;
    max-width: 1280px !important;
    padding-top: unset;
    margin-top: unset;
  }
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.95rem;
  letter-spacing: 0.035em;
  font-weight: 800;
  transition: 0.35s ease-in-out;

  .inner {
    transform: translate(-100%, 0%);
  }

  &:hover {
    font-weight: 600;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -0.35rem;
    animation: blink 0s linear infinite;

    @keyframes blink {
      0% {
        content: "|";
      }
      50% {
        content: "";
      }
      100% {
        content: "|";
      }
    }
  }
}

.play-button {
  opacity: 1;
  mix-blend-mode: difference;

  &::after {
    content: 'watch';
    padding-left: 4px;
    width: 100%;
    transition: .65s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;
  }
}

.hero:hover {
  .play-button {
    opacity: 1;

    &::after {
      content: 'playing';
    max-width: 80px;
    }
  }
}

.play-button {
  opacity: 0.65;
}

input {
  background: transparent;
  border-bottom: 1px solid #333;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.035em;

  &:focus {
    outline: none;
  }

  &::placeholder {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.035em;
    color: #666;
    font-weight: 500;
  }
}

.particles {
  position: fixed;
  top: 0%;
  left: 10%;
  transform: translateY(-0%) rotate(-90deg);
  z-index: -50;
  height: 100%;
  width: 100%;
  opacity: 0.72;
}
.hero-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(201, 195, 215, 0.035) 0%,
    rgba(0, 0, 0, 0.3) 100%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.video-container {
  width: calc(100% + 26px);
  transform: translateX(-13px);
}


.video-container::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75%; /* Adjust this value to change the height of the gradient */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), transparent);
  z-index: 15; /* Make sure this is higher than the video but lower than controls */
}

.cross {
  color: #666;
  z-index: 10;
  &:nth-child(1) {
    transform: translate(50%, -50%);
  }
  &:nth-child(2) {
    transform: translate(50%, -50%);
  }

  

}


.detail {
  display: none;
  &:nth-child(1) {
    transform: translate(-50%, -50%);
  }
  &:nth-child(2) {
    transform: translate(50%, -50%);
  }
  &:nth-child(3) {
    transform: translate(-50%, 50%);
  }
  &:nth-child(4) {
    transform: translate(50%, 50%);
  }
}

.detail {
  width: 4px;
  height: 1px;
}

button {
  font-weight: 550;
}

.systems {
  position: relative;
  font-weight: 600;
  font-size: 77% !important;
  
  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #68e939;
  }
}

.project {
  &:nth-last-child(1) {
    filter: brightness(0.5);
    pointer-events: none;
  }
}
svg {
  filter: invert(1) !important;
}

.click, button {
  transition: .25s transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    transform: scale(0.99);
    transform-origin: center;
  }
}
