.reverse {
  &::before {
    animation-direction: reverse !important;
    animation-delay: 0 !important;
    max-width: unset !important;
    animation-duration: 0.65s;
  }
  li {
    animation-direction: reverse !important;
    animation-delay: 0 !important;
    max-width: unset !important;
    animation-duration: 0.35s;
    &::before {
      animation-direction: reverse !important;
      animation-delay: 0 !important;
      max-width: unset !important;

    }
  }
}

.nav {
  position: fixed;
  width: fit-content;
  mix-blend-mode: difference;
  z-index: 9999;

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 21px);
    background-color: #fff;
    opacity: 0.5;
    left: 0;
    bottom: 10px;
    animation: grow-y 1.15s ease-out forwards;
  }
  li {
    position: relative;
    height: 21px;
    width: fit-content;
    max-width: 0;
    padding-left: 17px;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0.5;
    font-weight: 400;
    letter-spacing: 0.045em;
    transition: 5s ease-in-out;
    animation: grow-more 0.65s 0.65s ease-out forwards;
    overflow: hidden;
    z-index: 10;
    &:hover {
      opacity: 1 !important;
      font-weight: 600 !important;
    }
    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 8px;
      max-width: 0;
      height: 1px;
      background-color: #fff;
      opacity: 0.65;
      animation: grow 0.15s 0.25s ease-out forwards;

      @keyframes grow {
        from {
          max-width: 0;
        }

        to {
          max-width: 8px;
        }
      }
      @keyframes grow-more {
        from {
          max-width: 0;
        }

        to {
          max-width: 80px;
        }
      }
      @keyframes grow-y {
        from {
          max-height: 0;
        }

        to {
          max-height: 800px;
        }
      }
    }
    &:nth-child(1) {
      opacity: 1;
      font-weight: 600;
      overflow: visible;
      &::after {
        position: absolute;
        left: -20px;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #fff;
      }
    }
  }
}
