.header {
  position: relative;
  width: fit-content;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: auto;
  padding-bottom: 1rem;
  padding-right: 1rem;
  z-index: -1;
  color: #000;

  &Inner {
    position: relative;
    width: fit-content;
    padding: 0 20px;
    font-size: 0.55rem;
    font-weight: 600;
    letter-spacing: 0.5px;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "> ";
      transform: translateY(-1px);
      animation: blink 2s linear infinite;
    }

    &::after {
      right: 0;
      content: " <";
      position: absolute;
      top: 0;
      transform: translateY(-1px);
      animation: blink 2s linear infinite;
    }
  }
}

@keyframes blink {
  from {
    content: "";
  }
  to {
    content: inherit;
  }
}
